    
body {

    font-family: 'Slabo 27px', serif;

  }

  h1 {

    border-bottom: 1px solid rgba(0, 0, 0, .1);

    padding-bottom: 10px;

  }

  .separator {

    width: 100%;

    height: auto;

    overflow: hidden;

  }

  .box-100 {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    float: left;
  }

  

  .box-200 {
    width: 180px;
    height: 180px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    float: left;
  }

  

  #maroon-box {
    color: white;
    background-color:  #96281B;
  }

  

  #dark-blue-box {
    color: white;
    background-color: #4b77be;
  }

  

  #salem-box {
    color: white;
    background-color:  #1E824C;
  }

  

  .red-background {
    color: white;
    background-color: #C0392B;
  }

  

  .blue-background {
    color: white;
    background-color:  #446CB3;
  }

  

  .green-background {
    color: white;
    background-color:  #3ea75c;
  }

  

  .box-list div {
    color: white;
    text-align: center;
    padding: 20px;
    width: 200px;
    height: 180px;
    float: left;
    margin-right: 20px;
    background-color: #353535;
  }

  

  #gold-box {
    color: white;
    border-radius: 10px;
    background-color:  #F9BF3B;
  }

